
.container {
    padding-top: 20px;
}

.close {
    font-size: 1.5rem;
  }
  
  .col-12 img {
    opacity: 1;
    cursor: pointer;
    margin: 2rem;
    width: 100%;
  }
  
  .col-12 img:hover {
    opacity: 1;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (max-width: 991.98px) {
  .custom-collapse {
    position: absolute;
    top: 100%;
    right: 0;
    width: max-content;
    background-color: #343a40;
    padding: 0.5rem 1rem;
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 1000;
  }
}
